---
import BaseLayout from "../layouts/Layout.astro";
import CardProyect from "../components/cardProject.astro";

const technologies = [
  { name: 'Astro', color: '#4CAF50' },
  { name: 'TypeScript', color: '#007ACC' },
  { name: 'Tailwind', color: '#38B2AC' }
];
---
<BaseLayout title="Projects">
  <!-- Contenedor de tarjetas -->
  <div class="flex flex-wrap justify-center gap-6 p-4">
   
    <CardProyect
      title="#01 Memory Game"
      img="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/raw/main/Day-01-Memory-Game/img/Screenshot%202024-08-30%20145829.png"
      desc="El juego de memoria que consiste en formar pares con tarjetas, hecho en HTML, CSS y JS para el reto de los 100 días."
      githubUrl="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/tree/main/Day-01-Memory-Game"
    />

    <CardProyect
      title="#02 Cifrado Cesar"
      img="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/raw/main/Day-02-Cifrado-Cesar/Screenshot%202024-09-03%20001722.png"
      desc="Cifrado Cesar para codificar texto, hecho en HTML, CSS y JS para el reto de los 100 días."
      githubUrl="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/tree/main/Day-02-Cifrado-Cesar"
    />

    <CardProyect
      title="#03 Weather App"
      img="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/raw/main/Day-03-Weather-app/Screenshot%202024-09-03%20003708.png"
      desc="Aplicación para ver el clima en cualquier parte del mundo usando un API, hecho en HTML, CSS y JS para el reto de los 100 días."
      githubUrl="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/tree/main/Day-03-Weather-app"
    />

    <CardProyect
    title="#04 Calculadora"
    img="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/raw/main/Day-04-Calculadora/Screenshot%202024-09-04%20213225.png"
    desc="Calculadora basica echa con JS para el reto de 100 dias programanda en JavaScript"
    githubUrl="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/tree/main/Day-04-Calculadora"
    />

    <CardProyect
    title="#05 To Do List"
    img="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/raw/main/Day-05-To-Do-List/Screenshot%202024-09-04%20213754.png"
    desc="App web para organizar tareas echa con JS para el reto de 100 dias programanda en JavaScript donde se puede crear marcar y eliminar tareas"
    githubUrl="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/tree/main/Day-05-To-Do-List"
    />

    <CardProyect
    title="#06 Caja registradora"
    img="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/raw/main/Day-06-Cash-Register/Screenshot%202024-09-04%20214017.png"
    desc="Caja registradora echa con JS para el reto de 100 dias programanda en JavaScript"
    githubUrl="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/tree/main/Day-06-Cash-Register"
    />

    <CardProyect
    title="#07 Snake game"
    img="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/raw/main/Day-07-Snake-Game/Screenshot%202024-09-04%20235430.png"
    desc="Juego de la serpiente responsive hecho en HTML, CSS y JS para el reto de los 100 dias."
    githubUrl="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/tree/main/Day-07-Snake-Game"
    />

    <CardProyect
    title="#08 hangman"
    img="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/raw/main/Day-08-hangman/Screenshot%202024-09-04%20214348.png"
    desc="Juego del ahorcado echo en HTML,CSS y Javascript."
    githubUrl="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/tree/main/Day-08-hangman"
    />

    <CardProyect
    title="#09 Pokedex (pokeapi)"
    img="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/raw/main/Day-09-Pok%C3%A9dex/Screenshot%202024-09-05%20013420.png"
    desc="Pokedex que buscará Pokémon por nombre o ID. Para recuperar los datos e imágenes de los Pokémon, utilizando una pokeapi. hecho en HTML, CSS y JS para el reto de los 100 dias."
    githubUrl="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/tree/main/Day-09-Pok%C3%A9dex"
    />

    <CardProyect
    title="#10 Ping-Pong game"
    img="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/raw/main/Day-10-ping-pong/Screenshot%202024-09-05%20043615.png"
    desc="Juego del ping pong hecho en HTML, CSS y JS para el reto de los 100 dias, usando canvas para renderizar."
    githubUrl="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/tree/main/Day-10-ping-pong"
    />

    <CardProyect
    title="#11 Login"
    img="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/raw/main/Day-11-Log-In/Screenshot%202024-09-09%20142344.png"
    desc="Login Page Login echo con html, css y javaScript."
    githubUrl="https://github.com/Lautaro-R-collins/100-days-of-coding-in-JS/tree/main/Day-11-Log-In"
    />
  

  </div>
</BaseLayout>

